.comment__body {
	margin-bottom: 0.5em;
	line-height: 1.5;
}

.comment__notes {
	color: #000;
	opacity: 0.3;
	font-size: 12px;
}

.note-added {
	color: green;
}

.note-removed {
	color: red;
	text-decoration: line-through;
}
