label {
	display: block;
	margin-bottom: 0.5em;
	font-size: 14px;
}

input[type="text"], textarea {
	width: 100%;
	max-width: 100%;
	font-size: 16px;
	padding: 10px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	line-height: 1.5em;
	-webkit-apperance: none;
	border: 1px solid #ccc;
}

textarea {
	height: 10em;
}

.form__item {
	margin-bottom: 1.5em;
}

.comment-form__container {
	border: 1px solid #ccc;
	margin-bottom: 2em;

	textarea, input {
		border: none;
	}

	label {
		padding: 10px;
		margin: 0;
		cursor: pointer;
		color: $blue;
	}

	i.fa {
		color: #999;
		margin-right: 0.5em;
		color: $blue;
	}

	.form__item {
		margin: 0;
		position: relative;
		-webkit-transition: all 0.5s;

		&:after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 10px;
			right: 0;
			border-bottom: 1px solid #ccc;
		}

		&:last-child:after {
			border: none;
		}
	}
}

.form__item--collapsed {
	&:hover {
		background: whiteSmoke;
	}
	i.fa {
		color: #999;
	}
	label {
		color: #666;
	}
	.form__item__content {
		display: none;
	}
}

.comment-form__status {
	color: #999;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}

	input[type="radio"] + label {
		$button-size: 12px;
		border-radius: 40px;
		padding: 3px 7px 4px 4px;
		display: inline;
		font-weight: 500;
		letter-spacing: 0.5px;
		background: none;
		border-width: 1px;
		border-style: solid;

		&:before {
			content: "";
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: -0.25em;
			width: $button-size;
			height: $button-size;
			border-radius: 50%;
			border-width: 1px;
			border-style: solid;
			border-color: inherit;
			background: #fff;
		}
	}

	input[type="radio"]:checked + label {
		color: #fff;

		&.status-bg-pending { background: #DFCC27; }
		&.status-bg-accepted { background: #5C9728; }
		&.status-bg-rejected { background: #E93328; }
		&.status-bg-delivered { background: $blue; }
		&.status-bg-closed { background: grey; }

		&:before {
			background: inherit;
			border-color: #fff;
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.comment-form__status__step {
	float: left;
	line-height: 1.5em;
	input {
		float: left;
		clear: left;
		margin: 0 1em 0 0;
	}
	label {
		font-size: 12px;
		text-transform: uppercase;
	}
}

.comment-form__status__step--conditional {
	opacity: 0.25;

	&.visible {
		opacity: 1;
	}
}

.comment-form__status__rarr {
	float: left;
	margin: 0 10px;
}

.status-bg-pending { color: #DFCC27; background: #DFCC27; border-color: #DFCC27; }
.status-bg-accepted { color: #5C9728; background: #5C9728; border-color: #5C9728; }
.status-bg-rejected { color: #E93328; background: #E93328; border-color: #E93328; }
.status-bg-delivered { color: $blue; background: $blue; border-color: $blue; }
.status-bg-closed { color: grey; background: grey; border-color: grey; }

.token-field {
	width: 100%;
	border: none;
	padding: 10px;
}
