.header {
	background: #2b303a;
	color: rgba(255,255,255,0.75);

	a {
		color: inherit;
	}

	h1 {
		margin: 0;
	}

	.header__title {
		font-weight: 200;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}
}

.header__body {
	padding: 20px 0;
}
