.header {
	background: #2b303a;
	color: rgba(255,255,255,0.4);
	font-size: 14px;
	font-weight: 200;

	a {
		color: inherit;
		text-decoration: none;
	}

	i.fa-chevron-right {
		color: rgba(255,255,255,0.2);
		margin: 0 1em;
	}

	.header__title {
		margin: 0;
		display: inline;
		font-size: inherit;
		font-weight: inherit;
		font-weight: 600;
	}

	.header__nav {
		display: inline;
		list-style: none;
		margin-left: 1em;
		color: rgba(255,255,255,0.8);

		li {
			display: inline;
		}
	}
}

.header__body {
	padding: 20px 0;
}

.header__user {
	float: right;
	border: 2px solid rgba(255,255,255,0.4);
	width: 20px;
	height: 20px;
	padding-top: 2px;
	text-align: center;
	font-size: 10px;
	border-radius: 50%;
}

.header__username {
	display: none;
}
