table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	background: #fff;
}

td {
	border-bottom: 1px solid #eee;
	padding: 15px 8px;
}

th {
	color: #444;
	border-bottom: 2px solid #eee;
	padding: 15px 8px;
}

.table-filter {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top: 0;
	background: rgba(255,255,255,0.9);
	padding: 25px 8px;
	text-align: center;
}

.table-filter__heading {
	float: left;
}

.table-filter__search {
	width: 70%;
	display: inline-block;

	input[type="text"] {
		border: none;
		padding: 0;
	}
}

.table-filter__view {
	display: inline-block;
	float: right;

	li {
		display: inline;
	}

	a {
		display: inline-block;
	}
}
