* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}

body {
	background: whiteSmoke;
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size: 12px;
}

$blue: #34b0f0;

@import "wrap";
@import "requirement";
@import "comment";
@import "comment-form";
@import "timeline";
@import "header";
@import "content";
