* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box; }

body {
  background: whiteSmoke;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 12px;
  -webkit-transform: translateZ(1px); }

.token-field {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 3px;
  position: relative; }

.token-item {
  display: inline-block;
  border: 1px solid #eee;
  padding: 3px;
  margin-right: 0.5em;
  border-radius: 3px;
  background-color: whiteSmoke; }

.token-item-remove {
  text-decoration: none;
  color: #999;
  font-weight: bold;
  margin-left: 0.5em;
  position: relative;
  top: -1px; }

.token-input {
  -webkit-appearance: none;
  border: none !important;
  padding: 0 !important;
  width: 10em !important; }

.token-input:focus {
  outline: none; }

.token-optionList {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #fff #ccc #ccc;
  z-index: 9999; }

.token-option, .token-newOption {
  cursor: pointer;
  padding: 10px; }

.token-option:hover, .token-newOption {
  background: #ccc;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin-bottom: 0.5em; }

table {
  width: 100%;
  border-collapse: collapse; }

td {
  border-bottom: 1px solid #ccc;
  padding: 8px 5px; }

.wrap {
  max-width: 800px;
  margin: 0 auto;
  position: relative; }

.requirement__title--full {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 1em;
  -webkit-transition: all 0.1s;
  -webkit-transition-delay: 0;
  -webkit-transform: translateX(0px) translateY(0px);
  opacity: 1; }
  .preload .requirement__title--full {
    opacity: 0;
    -webkit-transform: translateY(-10px); }

.requirement__body--full {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 2em;
  -webkit-transition: all 0.1s;
  -webkit-transition-delay: 0.25s;
  -webkit-transform: translateX(0px) translateY(0px);
  opacity: 1; }
  .preload .requirement__body--full {
    opacity: 0;
    -webkit-transform: translateY(-10px); }

.requirement__notes__heading {
  font-size: 18px;
  color: #999; }

.requirement__notes {
  list-style: none;
  margin-bottom: 2em; }

.requirement__notes__item {
  margin-bottom: 0.5em;
  font-size: 14px;
  line-height: 1.5; }
  .requirement__notes__item:last-child {
    margin-bottom: 0; }
  .requirement__notes__item a {
    text-decoration: none;
    color: #999; }
    .requirement__notes__item a strong {
      background: rgba(250, 236, 131, 0.25);
      color: #333;
      font-weight: 200;
      -webkit-transition: background-color 0.5s; }
  .requirement__notes__item .requirement__notes__delete {
    opacity: 0;
    -webkit-transition: opacity 1s;
    color: red; }
  .requirement__notes__item:hover strong {
    background: #faec83; }
  .requirement__notes__item:hover .requirement__notes__delete {
    opacity: 1; }
  .requirement__notes__item:nth-child(1) {
    -webkit-transition: all 0.1s;
    -webkit-transition-delay: 0;
    -webkit-transform: translateX(0px) translateY(0px);
    opacity: 1; }
    .preload .requirement__notes__item:nth-child(1) {
      opacity: 0;
      -webkit-transform: translateX(-10px); }
  .requirement__notes__item:nth-child(2) {
    -webkit-transition: all 0.1s;
    -webkit-transition-delay: 0.25s;
    -webkit-transform: translateX(0px) translateY(0px);
    opacity: 1; }
    .preload .requirement__notes__item:nth-child(2) {
      opacity: 0;
      -webkit-transform: translateX(10px); }

.requirement__actions {
  border-top: 1px solid #fff;
  font-size: 14px;
  color: #999; }
  .requirement__actions ul {
    list-style: none;
    margin-left: -40px; }
  .requirement__actions li {
    display: inline; }
  .requirement__actions a {
    color: inherit;
    text-decoration: none; }
    .requirement__actions a:hover {
      text-decoration: underline; }
  .requirement__actions:after {
    content: "";
    display: table;
    clear: both; }

.requirement__actions__item {
  padding: 20px 40px;
  float: left; }
  .requirement__actions__item:after {
    content: "";
    display: table;
    clear: both; }

.requirement__actions__button {
  float: left;
  padding: 20px 40px;
  border-right: 1px solid #fff; }

.status-txt-pending {
  color: #DFCC27; }

.status-txt-accepted {
  color: #5C9728; }

.status-txt-rejected {
  color: #E93328; }

.status-txt-delivered {
  color: #34b0f0; }

.status-txt-closed {
  color: grey; }

.requirement__meta {
  padding: 10px;
  text-align: center;
  margin-bottom: 2em; }

.requirement__meta__item {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 0.5em;
  display: inline-block;
  margin-right: 20px; }
  .requirement__meta__item a {
    color: inherit; }

.requirement__block {
  background: #F9F8FB;
  padding: 25px; }

.requirement__block__item {
  color: #ddd;
  font-size: 14px;
  margin-bottom: 1em; }
  .requirement__block__item a {
    color: inherit; }
  .requirement__block__item:last-child {
    margin-bottom: 0; }

.comment__body {
  margin-bottom: 0.5em;
  line-height: 1.5; }

.comment__notes {
  color: #000;
  opacity: 0.3;
  font-size: 12px; }

.note-added {
  color: green; }

.note-removed {
  color: red;
  text-decoration: line-through; }

.crumbs {
  border-bottom: 1px solid #eee;
  background: #fff;
  color: #eee; }
  .crumbs > .wrap {
    padding-top: 15px;
    padding-bottom: 15px; }
  .crumbs a {
    text-decoration: none;
    color: #ccc;
    font-weight: 400; }
  .crumbs .arrow {
    margin: 0 20px; }

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 14px; }

input[type="text"], textarea {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  line-height: 1.5em;
  -webkit-apperance: none;
  border: 1px solid #ccc; }

textarea {
  height: 10em; }

.form__item {
  margin-bottom: 1.5em; }

.comment-form__container {
  border: 1px solid #ccc;
  margin-bottom: 2em; }
  .comment-form__container textarea, .comment-form__container input {
    border: none; }
  .comment-form__container label {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: #34b0f0; }
  .comment-form__container i.fa {
    color: #999;
    margin-right: 0.5em;
    color: #34b0f0; }
  .comment-form__container .form__item {
    margin: 0;
    position: relative;
    -webkit-transition: all 0.5s; }
    .comment-form__container .form__item:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 0;
      border-bottom: 1px solid #ccc; }
    .comment-form__container .form__item:last-child:after {
      border: none; }

.form__item--collapsed:hover {
  background: whiteSmoke; }
.form__item--collapsed i.fa {
  color: #999; }
.form__item--collapsed label {
  color: #666; }
.form__item--collapsed .form__item__content {
  display: none; }

.comment-form__status {
  color: #999; }
  .comment-form__status:after {
    content: "";
    display: table;
    clear: both; }
  .comment-form__status input[type="radio"] {
    position: absolute;
    left: -9999px; }
  .comment-form__status input[type="radio"] + label {
    border-radius: 40px;
    padding: 3px 7px 4px 4px;
    display: inline;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: none;
    border-width: 1px;
    border-style: solid; }
    .comment-form__status input[type="radio"] + label:before {
      content: "";
      display: inline-block;
      margin-right: 0.5em;
      margin-bottom: -0.25em;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: inherit;
      background: #fff; }
  .comment-form__status input[type="radio"]:checked + label {
    color: #fff; }
    .comment-form__status input[type="radio"]:checked + label.status-bg-pending {
      background: #DFCC27; }
    .comment-form__status input[type="radio"]:checked + label.status-bg-accepted {
      background: #5C9728; }
    .comment-form__status input[type="radio"]:checked + label.status-bg-rejected {
      background: #E93328; }
    .comment-form__status input[type="radio"]:checked + label.status-bg-delivered {
      background: #34b0f0; }
    .comment-form__status input[type="radio"]:checked + label.status-bg-closed {
      background: grey; }
    .comment-form__status input[type="radio"]:checked + label:before {
      background: inherit;
      border-color: #fff; }
  .comment-form__status:after {
    content: "";
    display: table;
    clear: both; }

.comment-form__status__step {
  float: left;
  line-height: 1.5em; }
  .comment-form__status__step input {
    float: left;
    clear: left;
    margin: 0 1em 0 0; }
  .comment-form__status__step label {
    font-size: 12px;
    text-transform: uppercase; }

.comment-form__status__step--conditional {
  opacity: 0.25; }
  .comment-form__status__step--conditional.visible {
    opacity: 1; }

.comment-form__status__rarr {
  float: left;
  margin: 0 10px; }

.status-bg-pending {
  color: #DFCC27;
  background: #DFCC27;
  border-color: #DFCC27; }

.status-bg-accepted {
  color: #5C9728;
  background: #5C9728;
  border-color: #5C9728; }

.status-bg-rejected {
  color: #E93328;
  background: #E93328;
  border-color: #E93328; }

.status-bg-delivered {
  color: #34b0f0;
  background: #34b0f0;
  border-color: #34b0f0; }

.status-bg-closed {
  color: grey;
  background: grey;
  border-color: grey; }

.token-field {
  width: 100%;
  border: none;
  padding: 10px; }

.timeline {
  background: #fff;
  font-size: 14px; }

.timeline__body {
  padding: 40px 0 40px 180px; }
  .timeline__body:after {
    content: "";
    border-left: 1px solid #eee;
    position: absolute;
    top: 0;
    left: 150px;
    height: 100%;
    width: 0; }

.timeline__item {
  clear: left;
  padding: 20px 0; }

.timeline__meta {
  width: 150px;
  position: relative;
  float: left;
  margin-left: -180px;
  text-align: right;
  padding-right: 30px; }

.timeline__meta__icon {
  color: #ccc;
  background: #fff;
  padding: 5px 0;
  position: absolute;
  right: -0.55em;
  top: -5px;
  z-index: 1; }

.timeline__meta__label__author {
  display: block;
  margin-bottom: 0.5em; }

.timeline__meta__label__date {
  font-style: italic;
  display: block;
  color: #ccc;
  margin-bottom: 0.5em; }

.header {
  background: #2b303a;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 200; }
  .header a {
    color: inherit;
    text-decoration: none; }
    .header a:hover {
      text-decoration: underline; }
  .header i.fa-chevron-right {
    color: rgba(255, 255, 255, 0.2);
    margin: 0 1em; }
  .header .header__title {
    margin: 0;
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    font-weight: 600; }
  .header .header__nav {
    display: inline;
    list-style: none;
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.8); }
    .header .header__nav li {
      display: inline; }

.header__body {
  padding: 20px 0; }

.header__user {
  float: right;
  width: 20px;
  height: 20px;
  padding-top: 4px;
  text-align: center;
  font-size: 10px;
  position: relative;
  -webkit-perspective: 428;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%; }
  .header__user:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    -webkit-transition: all 0.5s; }
  .header__user:hover:after {
    -webkit-transform: rotateY(180deg); }

.header__username {
  display: none; }

.content__body {
  margin: 50px 0; }

.user-card {
  width: 300px;
  border-radius: 3px;
  text-align: center;
  float: left; }

.user-card__avatar img {
  border-radius: 50%; }

.filter-box {
  margin-bottom: 2em; }

.filter-field {
  background: #fff;
  font-size: 16px;
  padding: 10px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  line-height: 1.5em;
  position: relative; }

.filter-field__placeholder {
  color: #999; }

.filter-field__token {
  background: #34b0f0;
  color: #fff;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px; }

.filter-field__more {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3em;
  text-align: center;
  color: #999; }

select[data-chosen] {
  width: 100%; }

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

button {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  position: relative;
  overflow: hidden; }
  button i {
    position: absolute;
    top: -3px;
    left: -5px;
    color: rgba(255, 255, 255, 0.25);
    font-size: 45px;
    -webkit-transform: rotateZ(-20deg); }
  button.alt {
    background-color: grey; }

.highlighter {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #fff; }
  .highlighter a {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    display: inline-block; }
