{% extends "layouts/default" %}

{% block content %}
<table>
	{% for requirement in requirements %}
		<tr>
			<td>{{ requirement.id }}</td>
			<td><a href="{{ url_route('requirement.show', [account.subdomain, project.slug, requirement.id]) }}">{{ requirement.title }}</a></td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
