<form method="post" action="{{ url_route('register.post', account.subdomain) }}">
	<input type="text" name="user[first_name]" value="" placeholder="first name..." />
	<input type="text" name="user[last_name]" value="" placeholder="last name..." />
	<input type="text" name="user[email]" value="" placeholder="email..." />
	<input type="text" name="user[password]" value="" placeholder="password..." />
	<input type="submit" />
</form>
